
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}
.dots {
  display: inline-block;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #0a22f4;
  margin-left: 20px;
}
.dot_wrapper :nth-child(2) {
  opacity: 30%;
}
.dot_wrapper :nth-child(3) {
  opacity: 30%;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.wrapper h2 {
  font-size: 32px;
}

.logos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.logos img {
  mix-blend-mode: luminosity;
}
.txt_wrapper {
  display: flex;
  justify-content: space-between;
}
.txt p {
  width: 463px;
  font-size: 16px;
  color: #171717;
}
.txt_span {
  color: #0a22f4;
}
footer{
	display: flex;
	flex-direction: column;
	max-width: 1366px;
	height: 1080px;
    width: 100%;
    margin: 0 auto;
	padding-top: 275px;
    overflow: hidden;
	background-color: #0A22F4;
}
footer h1{
	padding-left: 240px;
	color: #FFFFFF;
	font-size: 32px;
}
.footer-contact{
	margin-top: 30px;
	display: flex;
	justify-content: space-around;
}
.footer-contact-p{
	width: 463px;
}
.footer-contact-p p{
	color: #FFFFFF;
	font-size: 16px;
	padding-bottom: 58px;
}
iframe{
	border-radius: 10px;
}
label{
	color: #FFFFFF;
	font-size: 16px;
}
input{
	background-color: #0A22F4;
}
form div{
	margin: 41px;
}
.footer-contact-logo{
	display: flex;
	justify-content: space-between;
	margin-top: 54px;
}
.footer-logo h4{
	color: #FFFFFF;
	font-size: 22px;
}
.footer-logo{
	margin-top: 20px;
	display: flex;
}
.footer-logo img{
	background-color: #FFFFFF;
	border-radius: 10px;
}
.last-footer{
	display: flex;
	justify-content: space-between;
	margin-top: 240px;
	padding: 5px;
}
.last-footer h4{
	color: #FFFFFF;
	font-size: 16px;
}
.last-footer h6{
	color: #FFFFFF;
	font-size: 13px;
}
.last-footer div{
	display: flex;
}
#button{
  width: 151px;
  height: 55px;
  background-color: #FFFFFF;
  color: #171717;
  border-radius: 10px;
}